*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

nav {
  width: 100%;
  background-color: #171719;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
  padding: 0px 40px;
  background-color: #1d1d20;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  position: relative;
}

.menu__item {
  color: #ffffff;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.05rem;
  height: 100%;
}

.menu__item:not(:last-child) {
  margin-right: 10px;
}

.menu__item__link {
  text-decoration: none;
  color: #8391a2;
  font: inherit;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 10px;
}

.menu__item__link:hover {
  background-color: #252529;
  color: #bccee4;
}

.menu__item--current .menu__item__link {
  border-bottom: 2px solid #ffffff;
  color: #ffffff;
}

.menu__item--active .menu__item__link {
  background-color: #252529;
  color: #bccee4;
}

.menu__sub {
  width: 100%;
  display: none;
  justify-content: space-between;
}

.menu__sub__categories {
  width: calc(40% - 5px);
  display: flex;
  justify-content: space-between;
  padding: 20px 10px 10px;

  /* background-color: green; */
}

.menu__sub__categories__category {
  width: calc(50% - 10px);
}

.menu__sub__categories__header {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  color: #ffffff;
  font-weight: 400;
}

.menu__sub__categories__items {
  list-style: none;
  color: #8391a2;
}

.menu__sub__categories__item:not(:last-child) {
  margin-bottom: 10px;
}

.menu__sub__categories__item__link {
  text-decoration: none;
  display: block;
  padding: 5px 0;
  color: currentColor;
}

.menu__sub__categories__item__link:hover {
  color: #bccee4;
}

.menu__sub__visual {
  width: calc(60% - 5px);
  position: relative;
  display: flex;
  align-items: center;
}

.menu__sub__visual__img {
  width: 100%;
  height: auto;
}
